@import './base.css';

body {
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

button {
  box-sizing: border-box;
  border: 2px solid transparent;
  background-color: #555;
  padding: 8px;
  border-radius: 5px;
  color: white;

  &:hover {
    background-color: #777;
    cursor: pointer;
  }

  &:disabled {
    background-color: #333333;
    cursor: default;
  }

  &:active:not(:disabled) {
    background-color: #aaa;
    border: 2px solid #555;
  }

  transition: all 200ms;
}